:root{
    --navbar:rgba(227, 225, 221, 0.6);
    --mainbars:rgba(255, 255, 255, 0.6);
}  /* se quisar dar nomes variáveis nas cores, usa o root e depois ao invés da cor, usa-se a variável */

@font-face{
    font-family: "californication";
    src: url("fonts/fonts/the_californication.ttf"), format("truetype");
    size-adjust: 180%;
}

@font-face {
    font-family: "saudagar";
    src: url(fonts/fonts/saudagar.ttf), format("truetype");
}

@font-face {
    font-family: "berose";
    src: url(fonts/fonts/berose.ttf), format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(imgs/imgs/fundos/city01.jpg);
    background-size: cover;
}

header {
    background-color: rgba(255, 176, 73, 0.6);
}

main {
    background-color: rgba(255, 176, 73, 0.6);
    margin: auto;
    width: 80%;
    padding: 5px;
}

#p_01 {
    font-family: berose;
}

#autor_p_01 {
    font-family: saudagar;
}

#p_titulo_01 {
    margin-top: 80px;
    font-family: californication;
    color: white;
    font-size: 1.5rem;
}

#navbar_pesquisa {
    background-color:var(--mainbars);
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.flex_box {
    background-color:var(--mainbars)
}

.navbar_header {
    background-color: rgba(227, 225, 221, 0.6);
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#img_logo {
    width: 80px;
}

#slogan {
    text-align: center;
    font-family: californication;
}

input:not([type="submit"]):not([name="form_pesquisa"]) {
    width: 150px;
}

.flex_box {
    width: 150px;
    height: 120px;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: var(--navbar);
    padding: 20px;
    font-family: californication;
}

